<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="docker-desktop" />
  <package id="dotnetfx" />
  <package id="git" />
  <package id="git.install" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="slack" />
  <package id="vscode" />
  <package id="vscode.install" />
</packages>
